@{
    ViewData["Title"] = "Manage Vaccines";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Manage Vaccines</h1>
            </div><!-- /.col -->

           
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Vaccines List</h3>

                        <div class="d-flex float-right">
                            <a class="btn bg-primary showproject" asp-area="Admin" asp-controller="Vaccine" asp-action="create"><i class="fa fa-plus"></i> Add Vaccine</a>
                        </div>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Vaccine Name</th>
                                    <th>Price</th>
                                    <th>VaccineImage</th>
                                    <th>Clinic Name</th>
                                    <th>Provider Name</th>
                                    <th>Available Time Slots</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Covid Shild</td>
                                    <td>100$</td>
                                    <td>Photo</td>
                                    <td>Minute Clinic</td>
                                    <td>Dr. John Doe</td>
                                    <td>10:00 AM - 12:00 PM</td>
                                    <td>
                                        <a href="#" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                                        <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <ul class="pagination pagination-sm m-0 float-right">
                            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
          
        </div>
      
    </div>
</section>
